<p id="notice"><%= notice %></p>

<h1>Capybaras</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capybaras.each do |capybara| %>
      <tr>
        <td><%= link_to 'Show', capybara %></td>
        <td><%= link_to 'Edit', edit_capybara_path(capybara) %></td>
        <td><%= link_to 'Destroy', capybara, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capybara', new_capybara_path %>
